.itemName {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.listHeading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0px;
  color: #333;
}

.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listItem {
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: 1px solid #463b3b; /* Added outline */
}

.listItem:hover {
  background-color: #f0f0f0;
  outline-color: #141111; /* Change outline color on hover */
}

.blackText {
  color: black;
}

.blueText {
  color: blue;
}
