.tableRow {
  /* border: solid;
  border-width: 1px 0;
  padding-bottom: 25px; */
}

.table {
  border-collapse: collapse;
}

.symbols {
  font-weight: bold;
}

.paddingLeft {
  padding-left: 20px;
}

.minWidth {
  min-width: 200px;
}

.formGroup {
  margin-bottom: 12px;
  display: flex; /* Use flexbox for side-by-side layout */
  gap: 16px; /* Space between the selects */
}

.formGroup {
  margin-bottom: 12px;
  display: flex; /* Align elements side by side */
  justify-content: space-between; /* Space between the label and the select elements */
  align-items: center; /* Vertically align the label and select */
}

.formGroup label {
  font-weight: bold;
  margin-bottom: 0; /* No extra space below the label */
  margin-right: 10px; /* Space between label and select */
}
